# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Local Data
local/
static/

# GAE
cloud_sql_proxy
gae_env_variables.yaml
